.asset-table-container {
  width: 100%;
}

.asset-table-footer {
  color: #999;
  display: flex;
  margin-top: var(--half-spacing);
  font-size: var(--font-small1);
  padding-left: var(--half-spacing);
}

.delete-button {
  font-size: var(--font-base);
}
