@import "src/definitions.less";

.container {
  width: 100%;
  max-width: 75rem;

  display: flex;
  gap: @double-spacing;
  flex-direction: column;
}

.emptyState {
  text-align: center;
  padding: @triple-spacing;
}
