@import (reference) "src/theme/definitions.less";

.form {
  display: flex;
  flex-direction: column;
  width: 600px;
  align-items: flex-end;
  gap: @default-spacing;
}

.buttons {
  display: flex;
  gap: @default-spacing;
  align-items: center;
}
