.portfolios {
  padding: var(--double-spacing);
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr 15rem;
  grid-template-areas:
    "sideBar header header"
    "sideBar content orderSideBar";
  gap: 4rem 4rem;
}

.portfolios__header {
  display: flex;
  justify-content: flex-start;
  grid-area: header;
}

.portfolios__side-bar {
  grid-area: sideBar;
}

.portfolios__content {
  grid-area: content;
  align-self: flex-start;

  display: flex;
  flex-direction: column;
  gap: var(--triple-spacing);
}

.portfolios__portfolio-selection {
  font-size: var(--font-large1);
  width: 100%;
}

.portfolios__order-side-bar {
  grid-area: orderSideBar;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 4rem;
  height: fit-content;
}