.confirmation {
  padding-right: var(--double-spacing);
  max-width: 70ex;
}

.confirmation__buttons {
  margin-top: var(--double-spacing);
  display: flex;
  gap: var(--default-spacing);
  justify-content: flex-end;
}
