.transaction-input-form {
  display: flex;
  flex-direction: column;
}

.transaction-input-form__type {
  grid-area: type;
}

.transaction-input-form__amount {
  grid-area: amount;
}

.transaction-input-form__date {
  grid-area: date;
}

.transaction-input-form__button {
  grid-area: button;
  margin-top: 1rem;
}
