.order-input-form {
  display: flex;
  flex-direction: column;
}

.order-input-form__asset {
  grid-area: asset;
  margin-bottom: var(--default-spacing);
}

.order-input-form__button {
  grid-area: button;
  margin-top: 1rem;
}

.order-input-form__summary {
  font-size: var(--font-small1);
  color: gray;
}

.order-input-form__calculation {
  min-height: 1rem;
}
