.order-input-form__asset {
  margin-bottom: var(--default-spacing);
}

.order-input-form__button {
  grid-area: button;
}

.order-input-form__summary {
  font-size: var(--font-small1);
  color: gray;
}

.order-input-form__calculation {
  min-height: 1rem;
}
