.button {
  font-size: 1rem;
  border-radius: var(--default-border-radius);
  padding: 1rem;
  font-weight: 800;
  cursor: pointer;
}

.button--primary {
  background-color: var(--theme-highlight);
  border: none;
  color: white;
}

.button--primary-disabled {
  background-color: var(--theme);
  opacity: 0.4;
  border: none;
  color: white;
  cursor: default;
}

.button--secondary {
  background-color: white;
  border: 2px solid var(--theme-highlight);
}

.button--secondary-disabled {
  background-color: white;
  border: 2px solid var(--theme-tint);
  cursor: default;
}
