@import (reference) "src/theme/definitions.less";

.benchmark_select {
  width: 24rem;
  margin-right: 4px; // to align with chart frame

  @media (max-width: 768px) {
    width: calc(100% - 4px);
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    gap: @default-spacing;
  }
}
