@import (reference) "src/theme/definitions.less";

.container {
  display: flex;
  flex-direction: column;
  gap: @default-spacing;
}

.headingContainer {
  display: flex;
  justify-content: flex-end;
}

.mobileSelect {
  width: 100%;
}
