.order-input-form--regular {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "asset asset asset"
    "pieces price fees"
    "date date date"
    "xx xx button";
  gap: 0.5rem 1rem;
}

.order-input-form--column {
  display: flex;
  flex-direction: column;
}

.order-input-form__asset {
  grid-area: asset;
}

.order-input-form__pieces {
  grid-area: pieces;
}

.order-input-form__price {
  grid-area: price;
}

.order-input-form__fees {
  grid-area: fees;
}

.order-input-form__date {
  grid-area: date;
}

.order-input-form__button {
  grid-area: button;
  margin-top: 1rem;
}

.order-input-form__summary {
  font-size: var(--font-small1);
  color: gray;
}

.order-input-form__calculation {
  min-height: 1rem;
}
