name: CI
on: [push]
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v4

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "yarn"

      - name: Install Dependencies at Root
        run: yarn install

      - name: Assert synced dependencies
        run: yarn syncpack list-mismatches

      - name: Check architecture
        run: yarn run architecture-tests

      - name: Lint
        run: yarn lint

      - name: Prettier
        run: yarn fmt:check

      - name: TypeScript Check
        run: yarn tsc

      - name: Unit Tests
        run: yarn test
