.input__label {
  font-size: var(--font-small1);
  padding-left: 0.25rem;
  display: block;
}

.input__field {
  font-size: 1rem;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.25);
  border-style: solid;
  border-radius: var(--default-border-radius);
  width: 100%;
  padding: 1rem;
  margin: 0.25em 0px;
  box-sizing: border-box;
}

input::placeholder {
  font-weight: 100;
}

.input__field--mandatory {
  border-left-color: var(--theme);
  border-left-width: 4px;
}

.input__error-message {
  color: red;
  font-size: var(--font-small1);
  min-height: 1em;
}
