.selection-header {
  display: flex;
  align-items: flex-end;
  border-bottom: #aaa solid 1px;
}

.selection-header__element {
  padding: 0 1rem 0.5rem 1rem;
  cursor: pointer;
  color: #555;
  box-sizing: border-box;
}

.selection-header__element--selected {
  border-bottom: solid;
  font-weight: bold;
  color: var(--theme-highlight);
  border-bottom-width: 2px;
  border-bottom-color: var(--theme-highlight);
}
